beautifulsoup4==4.13.4
bs4==0.0.2
certifi==2025.4.26
charset-normalizer==3.4.2
colorama==0.4.6
colored==2.3.0
fake-useragent==2.2.0
idna==3.10
prettytable==3.16.0
pyaes==1.6.1
pyasn1==0.6.1
pystyle==2.9
pyTelegramBotAPI==4.26.0
pywifi==1.1.12
requests==2.32.3
rsa==4.9.1
soupsieve==2.7
telebot==0.0.5
Telethon==1.40.0
termcolor==3.1.0
typing_extensions==4.13.2
urllib3==2.4.0
wcwidth==0.2.13
